*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin
/docs
/data/build
/core/build/intermediates/ktLint/reporters.bin
/feature/build/intermediates/ktLint/reporters.bin
/core/build/intermediates/ktLint/reporterProviders.bin
/feature/build/intermediates/ktLint/reporterProviders.bin
